@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "ChangePassword";
}

<h1>ChangePassword</h1>
<div style="width:30%;margin:0 auto;">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <label for="username">Old Password:</label><br>
                <input type="text" name="username" id="oldpwd" class="form-control form-control-sm input-sm" />
            </div>
            <div class="row">
                <label for="password">New Password:</label><br>
                <input type="text" name="password" id="newpwd" class="form-control form-control-sm input-sm" />
            </div>
            <br />
            <div class="row">
                <input type="submit" name="submit" class="btn btn-info btn-md" value="Change Password" />
            </div>
        </div>
    </div>
</div>

