@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "SalaryReport";
}
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js'></script>
@*<script type="text/javascript" src='https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js'></script>*@

@*<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css" />*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" type="text/css" />

<script>
        $(document).ready(function(){
    var startDate = new Date();

        $('.from').datepicker({
            autoclose: true,
            autoclose: true,
            minViewMode: 1,
            format: 'mm/yyyy'
        })
        //.on('changeDate', function(selected){
        //        startDate = new Date(selected.date.valueOf());
        //        startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
        //        $('.from').datepicker('setStartDate', startDate);
        //    });

        })


</script>
<h1>SalaryReport</h1>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-4">
                <label>First check in:</label>
                <input type="text" class="form-control form-control-sm input-sm from" placeholder="Month/Year">
            </div>
            <div class="col-lg-3 col-sm-6 col-md-4">
                <label>Employee Id</label>
                <input type="text" id="messageId" name="" class="form-control form-control-sm" />
            </div>
            <div class="col-lg-3 col-sm-6 col-md-4">
                <label>Employee Name</label>
                <input type="text" id="messageLog" name="" class="form-control form-control-sm" />
            </div>
        </div>
        <div class="pull-right" style="margin-top: 20px;margin-right:45px">
            <button type="button" id="serchbtn" class="btn btn-success" onclick="SerchData()"> Go</button>
            <button type="reset" class="btn btn-info" style="margin-left: 5px;" onclick="Cancel()"> Reset</button>
        </div>
    </div>
</div>
